<h2>Add group price for <%= @ticket.name %></h2>
<%= simple_form_for([:mine, @ticket, @group_price], html: {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :range_from %>
    <%= f.input :range_to %>
    <%= f.input :price %>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= link_to 'Back', mine_ticket_path(@ticket), class: 'btn btn-default' %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
