<!-- This file will remove to public, because this will be a static file. -->
<div id="about-us">
	<div class="row">
		<h1 class="about text-center" style="font-size:40px;">ABOUT US</h1>
    <p>
     &nbsp;&nbsp;&nbsp;Not sure where to take your group? Trouble collecting payment for large orders from groups members?
    </p>
		<p>
     &nbsp;&nbsp;&nbsp;Despite individual online ticketing, tickets for students, alumni, senior, church, corporate, and family groups are still sold over the phone by an organization's group sales manager. GroupEt is the first online marketplace for selling, searching, and purchasing discounted group tickets directly from venues. Any group of 5 or more --whether a group of your friends or formal affiliation -- is eligible to purchase group tickets on GroupEt.
		</p>
    <p style="margin-top:20px;">
    &nbsp;&nbsp;&nbsp;Our enhanced search allows you to find performances, exhibitions, or sports that match your date and your budget. It is finally possible to compare deals for specific dates/times across different genres of arts and entertainment.
		</p>
    <p>
     &nbsp;&nbsp;&nbsp;The bigger your group, the better deals you will find!
    </p>
    <p>
     &nbsp;&nbsp;&nbsp;As the group leader, you can invite your group members to contribute to the final order to save you time and give you peace of mind.
    </p>
    <p>
     &nbsp;&nbsp;&nbsp;To get started, simply register for an account, set your designated city, and use the various search criteria to filter for your next perfect group outing.
    </p>
	</div>
	<div class="row" style="margin-top:50px;">
		<div class="col-xs-12 col-sm-6 specific">
			<p class="center"><%= image_tag 'merchant.png' %></p>
			<h3 style="font-size:28px">Venues</h3>
			<p>
        <i>
          Reach a broader audience, including student groups by becoming a GroupEt Venue. You have the option of pricing your tickets with a flat discount or tier the pricing to award greater discounts to larger groups. Your deals may be spotlighted on our home-page.
        </i>
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 specific">
			<p class="center"><%= image_tag 'student.png' %></p>
			<h3 style="font-size:28px">Students</h3>
			<p>
      <i>
        Student groups enjoy greater discounts from select merchants. Register as a student group leader using your ".edu" email.
      </i>
			</p>
		</div>
	</div>
	<div class="row" style='margin-top: 30px;'>
		<div class="col-xs-8 col-xs-offset-2 specific">
			<p class="center"><%= image_tag "fees.png" %></p>
			<h3 style="font-size:28px">Fees</h3>
			<i>
			<p>
      GroupEt is designed to help connect arts and entertainment patrons with local venues, and provide greater exposure to arts organizations. There are no costs to using the service! Our fees are straightforward:
			</p>
			<ul>
				<li>
					Consumers pay a simple $5 booking fee for orders up to 50 tickets.$10 for orders exceeding 50 tickets.
				</li>
				<li>
					Non-profit merchants are charged only a $10 commissing on the final sale. Other merchants are charged a 10-25% commission.
				</li>
			</ul>
			</i>
		</div>

	</div>
	<h3 class="our-team yellow"><i>OUR TEAM</i></h3>
	<div class="row biographical">
		<div class="col-xs-12 col-sm-3 ">
			<%= image_tag "alisa.png" %>
		</div>
		<div class="col-xs-12 col-sm-9">
			<label class="name"><i><span style="color: #e6dc1d">Alisa</span>&nbsp;Melekhina</i></label>
			<p class="position"><b>CEO & Founder</b></p>
			<p class="digest">
      Alisa is a recent graduate of the University of Pennsylvania and has a certificate from the Wharton School in Business Economics & Public Policy. She is an international chess master, as well as a classically trained ballerina. At Penn, she was the President of three different on-campus groups, which inspired the concept for GroupEt.
			</p>
		</div>
	</div>
  <div class="row biographical" style="padding-top:80px;">
    <div class="col-xs-12 col-sm-9">
      <a name='faq'></a>
			<label class="name"><i><span style="color: #e6dc1d">Ken</span>&nbsp;Lu</i></label>
			<p class="position"><b>CTO</b></p>
			<p class="digest">
      Ken has ten years of extensive experience in web development, with a particular expertise in Ruby on Rails. He previously served as a Senior computer engineer at Bloomberg LP.
			</p>
		</div>
		<div class="col-xs-12 col-sm-3">
			<%= image_tag "ken.jpeg", class: 'right' %>
		</div>
	</div>
	<h3 class="our-team yellow"><i>FAQ</i></h3>
  <div class="faq">
		<h3 style="font-size:24px;color:#75039e">Users</h3>
    <h4>Do I have to be part of an official group to get discounts?</h4>
    <p>No, all groups of 5 or more are welcome to browse and purchase tickets!</p>
    <p>Student groups may receive additional discounts if offered by the venue. The additional discount 
    
    will be displayed in the search results. Student tickets must be purchased by a group leader with 
    
    a verified “.edu” email.</p>
    <h4>How do I get my tickets?</h4>
    <p>Upon receipt of the full purchase price, the venue will either ship the entire order directly to the 
    
    group leader or hold them for you at will call. Check the specific ticket listing to see which 
    
    delivery options the venue has selected.</p>
    <h4>How do other group members pay for the order?</h4>
    <p>At check-out, you will have the option to pay your share of the purchase price and “Invite 
    
    Members to Pay.” This will send an email link to the order to other members. Your group 
    
    members must also be registered for a GroupEt account. They can register after receiving the 
    
    link. After accessing the order, each member can pay his or other members’ share.</p>
    <p>The group must pay the entire amount within 48 hours or you will lose your order and will only
    
    receive a partial refund (50%). Group leaders booking the order must also pay the non-
    
    refundable booking fee.</p>
    <p>If the tickets are booked for a show-time within 48-hours, you will only have until the time of 
    
    performance to complete payment.</p>
    <h4>Can I list tickets for sale on GroupEt?</h4>
    <p>No. GroupEt does not re-sell tickets. All tickets are listed and sold directly by the venues.</p>

		<h3 style="font-size:24px;color:#75039e">Venues</h3>
    <h4>Why should I register for GroupEt?</h4>
    <p>We are the first integrated online marketplace for group tickets. This means you will reach a 
    
    broader user-base in your city.</p>
    <p>Each venue will be able to create a custom Venue profile with your address, hours of operation, 
    
    and upcoming shows you’ve listed on the site. Thus, we are also a technology solution for 
    
    smaller organizations.</p>
    <p>We also help you price more efficiently. Rather than pricing at a flat discount, you can offer 
    
    discounts in tiers. For example, you can grant a 10% discount for a purchase of up to 20 tickets, 
    
    15% up to 50 tickets, and 25% for orders exceeding 50. You can decide the specific discounted 
    
    amount.</p>
    <p>We also help you connect with local students. We offer the option of granting an additional 
    
    discount to students. The extra discount will be visible only to registered student group leaders in 
    
    the search results and ticket details pages.</p>
    <h4>How do I register for a Venue account?</h4>
    <p>Complete the sign-up process and enter you organization’s name in the Name field. Select the
    
    “Venue” option. Send us an email at <a href="Mailto:info@group-et.com">info@group-et.com</a>  info@group-et.com from the same email you used to 
    
    register.</p>
    <p>We will upgrade your account to list tickets after confirming your identity.</p>
    <h4>How do I list different seating options for the same show?</h4>
    <p>Our uploading template gives you the option of adding a seating map. Use this to describe the 
    
    location of the seats. If you price your seats differently, then you will need to create multiple 
    
    listings reflecting the different price points. Make sure to mention the seating location in the 
    
    description.</p>
    <p>A user may wish to determine the seating location by contacting you directly based on the 
    
    information listed in your Venue profile.</p>
    <h4>Are there any fees beyond the commission fees for using GroupEt?</h4>
    <p>No! Our goal is to help local arts and entertainment venues spread the word about their shows 
    
    and events. It is free to register for an account and list tickets. We only collect commission upon 
    
    the completion of a sale. We also take on all payment processing fees.</p>
    <h4>What if I am already part of a ticket alliance?</h4>
    <p>GroupEt is specifically designed for discounted group tickets, which are usually sold directly by
    
    a venue’s group sales manager. Our platform is simply an additional tech avenue for the group 
    
    sales manager to market those additional tickets.</p>
    <h4>How do we spread the word about our listings?</h4>
    <p>We will do the best we can to market our platform, especially to students. However, we also 
    
    recommend that you link to your custom Venue profile on your venue’s website and facebook 
    
    page. Initially, we will need help in acquiring more users. Consider spreading the word to the 
    
    patrons in your newsletter about your deals and encourage them to register for a GroupEt 
    
    account.</p>
  </div>
</div>
