<!-- This file will remove to public, because this will be a static file. -->
<div class="container" id="about-us">
	<div class="row">
		<h1 class="about text-center" style="font-size:40px;">ABOUT US</h1>
    <p>
     &nbsp;&nbsp;&nbsp;Not sure where to take your group? Trouble collecting payment for large orders from groups members?
    </p>
		<p>
     &nbsp;&nbsp;&nbsp;Despite individual online ticketing, tickets for students, alumni, senior, church, corporate, and family groups are still sold over the phone by an organization's group sales manager. GroupEt is the first online marketplace for selling, searching, and purchasing discounted group tickets directly from venues. Any group of 5 or more --whether a group of your friends or formal affiliation -- is eligible to purchase group tickets on GroupEt.
		</p>
    <p style="margin-top:20px;">
    &nbsp;&nbsp;&nbsp;Our enhanced search allows you to find performances, exhibitions, or sports that match your date and your budget. It is finally possible to compare deals for specific dates/times across different genres of arts and entertainment.
		</p>
    <p>
     &nbsp;&nbsp;&nbsp;The bigger your group, the better deals you will find!
    </p>
    <p>
     &nbsp;&nbsp;&nbsp;As the group leader, you can invite your group members to contribute to the final order to save you time and give you peace of mind.
    </p>
    <p>
     &nbsp;&nbsp;&nbsp;To get started, simply register for an account, set your designated city, and use the various search criteria to filter for your next perfect group outing.
    </p>
	</div>
	<div class="row" style="margin-top:50px;">
		<div class="col-xs-12 col-sm-6 specific">
			<p class="center"><%= image_tag 'merchant.png' %></p>
			<h3 style="font-size:28px">Venues</h3>
			<p>
        <i>
          Reach a broader audience, including student groups by becoming a GroupEt Venue. You have the option of pricing your tickets with a flat discount or tier the pricing to award greater discounts to larger groups. Your deals may be spotlighted on our home-page.
        </i>
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 specific">
			<p class="center"><%= image_tag 'student.png' %></p>
			<h3 style="font-size:28px">Students</h3>
			<p>
      <i>
        Student groups enjoy greater discounts from select merchants. Register as a student group leader using your ".edu" email.
      </i>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2 specific">
			<p class="center"><%= image_tag "fees.png" %></p>
			<h3 style="font-size:28px">Fees</h3>
			<i>
			<p>
      GroupEt is designed to help connect arts and entertainment patrons with local venues, and provide greater exposure to arts organizations. There are no costs to using the service! Our fees are straightforward:
			</p>
			<ul>
				<li>
					Consumers pay a simple $5 booking fee for orders up to 50 tickets.$10 for orders exceeding 50 tickets.
				</li>
				<li>
					Non-profit merchants are charged only a $10 commissing on the final sale. Other merchants are charged a 10-25% commission.
				</li>
			</ul>
			</i>
		</div>

	</div>
	<h3 class="our-team yellow"><i>OUR TEAM</i></h3>
	<div class="row biographical">
		<div class="col-xs-12 col-sm-3 ">
			<%= image_tag "alisa.png" %>
		</div>
		<div class="col-xs-12 col-sm-9">
			<label class="name"><i><span style="color: #e6dc1d">Alisa</span>&nbsp;Melekhina</i></label>
			<p class="position"><b>CEO & Founder</b></p>
			<p class="digest">
      Alisa is a recent graduate of the University of Pennsylvania and has a certificate from the Wharton School in Business Economics & Public Policy. She is an international chess master, as well as a classically trained ballerina. At Penn, she was the President of three different on-campus groups, which inspired the concept for GroupEt.
			</p>
		</div>
	</div>
	<div class="row biographical">
		<div class="col-xs-12 col-sm-9 bottom"  style="padding-top:80px;">
			<label class="name"><i><span style="color: #e6dc1d">Ken</span>&nbsp;Lu</i></label>
			<p class="position"><b>CTO</b></p>
			<p class="digest">
      Ken has ten years of extensive experience in web development, with a particular expertise in Ruby on Rails. He previously served as a Senior computer engineer at Bloomberg LP.
			</p>
		</div>
		<div class="col-xs-12 col-sm-3">
			<%= image_tag "ken.png" %>
		</div>
	</div>
	
</div>
