<div class="container" id="edit-profile">
  <h1>Create Group</h1>
  <hr/>

  <%= simple_form_for([@ticket, @group], url: ticket_groups_path,wrapper: :clean, html: {class: 'form-horizontal'}) do |f| %>
    <%= f.error_notification %>

    <div class="form-group">
      <div class="col-xs-offset- col-xs-10">
        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :deadline, as: :string, input_html: { class: 'datetimepicker' } %>
          <%= f.input :target_amount %>
        </div>
        <%= f.button :submit %>
      </div>
    </div>
  <% end -%>
</div>
