<div class="col-xs-12 col-sm-6 ticket">
  <%= link_to image_tag(ticket.image, alt: ticket.name, size: '180x180'), ticket %>
    <div class="caption">
      <h3><%= link_to ticket.name, ticket %></h3>
      <div class='desc'><%= ticket.desc %></div>
      <h5 class='gray-light'><%= ticket.try(:category).try(:name) %></h5>
      <h5 class='gray-light'><%= ticket.start_at.to_date %></h5>
      <h5 class='gray-light'>
        <%= ticket.start_at.try(:strftime, '%I:%M %p') %> 
        <%= ticket.end_at.try(:strftime, '%I:%M %p') %>
      </h5>
      <h4 class='flat-discount yellow bold'><%= ticket.flat_discount %>% OFF</h4>
      <h5 class='purple'>Groups of <%= ticket.minimum_amount %>+</h5>
  </div>
</div>
