<h3>Search</h3>
<%= search_form_for Ticket.search, url: search_path do |f| %>
  <div class="form-group">
    <%= f.label :name_cont, "Name" %>
    <%= f.search_field :name_cont, value: @search_conditions['name_cont'], class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :category_name_cont, "Category" %>
    <%= f.search_field :category_name_cont, value: @search_conditions['category_name_cont'], class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Date From" %>
    <%= f.search_field :time_tag_date_gteq, value: @search_conditions['time_tag_date_gteq'], class: "form-control datepicker" %>
    <%= f.label "Date To" %>
    <%= f.search_field :time_tag_date_lteq, value: @search_conditions['time_tag_date_lteq'], class: "form-control datepicker" %>
  </div>
  <div class="form-group">
    <%= f.label "Time From" %>
    <%= f.search_field :time_tag_time_gteq, value: @search_conditions['time_tag_time_gteq'], class: "form-control timepicker" %>
    <%= f.label "Time To" %>
    <%= f.search_field :time_tag_time_lteq, value: @search_conditions['time_tag_time_lteq'], class: "form-control timepicker" %>
  </div>
  <div class="form-group">
    <%= f.label :oprice_in_cents_lteq, "Price" %>
    <div class="row">
      <div class="col-xs-5">
        <%= f.search_field :oprice_in_cents_gteq, value: @search_conditions['oprice_in_cents_gteq'], class: "form-control" %>
      </div>
      <div class="col-xs-2">To</div>
      <div class="col-xs-5">
        <%= f.search_field :oprice_in_cents_lteq, value: @search_conditions['oprice_in_cents_lteq'], class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :amount_gteq, "Amount" %>
    <%= f.search_field :amount_gteq, value: @search_conditions['amount_gteq'], class: "form-control" %>
  </div>
  <%= f.submit "Search", class: "btn btn-default" %>
<% end %>
