<h3>Search</h3>
<%= search_form_for Ticket.search, url: filter_path do |f| %>
  <div class="form-group">
    <%= f.label :name_cont, "Name" %>
    <%= f.search_field :name_cont, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :category_name_cont, "Category" %>
    <%= f.search_field :category_name_cont, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :end_at_gt, "From" %>
    <%= f.search_field :end_at_gt, class: "form-control datetimepicker" %>
  </div>
  <div class="form-group">
    <%= f.label :start_at_lt, "To" %>
    <%= f.search_field :start_at_lt, class: "form-control datetimepicker" %>
  </div>
  <div class="form-group">
    <%= f.label :oprice_in_cents_lteq, "Price" %>
    <div class="row">
      <div class="col-xs-5">
        <%= f.search_field :oprice_in_cents_gteq, class: "form-control" %>
      </div>
      <div class="col-xs-2">To</div>
      <div class="col-xs-5">
        <%= f.search_field :oprice_in_cents_lteq, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :amount_gteq, "Amount" %>
    <%= f.search_field :amount_gteq, class: "form-control" %>
  </div>
  <%= f.submit "Search", class: "btn btn-default" %>
<% end %>
