<div id="search_area">
  <p class='title'>SEARCH</p>
  <p class='subtitle'>Filter by entering at least one field.</p>
  <%= simple_form_for @tickets_search, url: search_path, method: :get do |f| %>
    <div class="form-group">
      <%= f.input_field :name_cont, class: "form-control", :placeholder => "Name" %>
    </div>
    <div class="form-group">
      <%= f.input_field :category_id_eq, collection: category_options, prompt: 'Genre', class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.input_field :time_tag_date_gteq, class: "form-control datepicker", placeholder: "Date From" %>
    </div>
    <div class="form-group">
      <%= f.input_field :time_tag_date_lteq, class: "form-control datepicker", placeholder: "Date To" %>
    </div>
    <div class="form-group">
      <%= f.input_field :time_tag_time_gteq, class: "form-control timepicker", placeholder: "Time From" %>
    </div>
    <div class="form-group">
      <%= f.input_field :time_tag_time_lteq, class: "form-control timepicker", placeholder: "Time To" %>
    </div>
    <div class="form-group">
      <%= f.label "Price Range" %>
      <div class="row">
        <div class="col-xs-5">
          <%= f.input_field :oprice_in_cents_gteq, class: "form-control" %>
        </div>
        <div class="col-xs-2 white">To</div>
        <div class="col-xs-5">
          <%= f.input_field :oprice_in_cents_lteq, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.input :amount_gteq, class: "form-control", placeholder: "Quantity" %>
    </div>
    <%= f.button :submit, "Search Group Tickets", class: "btn btn-default" %>
  <% end %>
</div>
