<!-- This file will remove to public, because this will be a static file. -->
<div class="container" id="about-us">
	<div class="row">
		<h1 class="about text-center">ABOUT US</h1>
		<p class='about-content text-center'>
    Despite individual ticketing, tickets for students, alumni, senior, church, corporate, and family groups are still      sold over the phone by an orgnization's group sales manager. GroupET is the first online marketplace for selling,       selling, searching and purchasing discounted group tickets directly from 
		merchants. Any group of 5 or more --wether a group of your friends or fornal affiliation --is eligible to purchase      group tickets on GroupET.
		</p>
    <p class='about-content text-center' style="margin-top:20px;">
		Our enhanced search allows you to find performances, exhibitions, or sports tha match your date and your budget. It is finally possible to compare deals for specific dates/times across different genres of are and entertainment.
		</p>
	</div>
	<div class="row" style="margin-top:50px;">
		<div class="col-xs-12 col-sm-6 specific">
			<div class="row">
				<div class="container">
					<%= image_tag 'merchant.png', class: 'center' %>
				</div>
			</div>
			
			<h3>Merchants</h3>
			<p>
				Reache a broader audience, including student groups by becoming a GroupEt merchant. You have the option of pricing your tickets with a flat discount ro tire the pricing to award greater discounts to larger groups. You deals may be featured on our home-page.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 specific">
			<%= image_tag 'student.png' %>
			<h3>Merchants</h3>
			<p>
				Student groups enjoy greater discounts from select merchants. Register as a student group leader using your ".edu" email.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2 specific">
			<%= image_tag "fees.png" %>
			<h3 id="">Fees</h3>
			<p>GroupEt is designed to help connet arts and entertainment patrons with local merchants, and provide greater exposure to local venus. There are no conts to using the service! Our fees are straigntforward:
			</p>
			<ul>
				<li>
					Consumers pay a simple $5 booking fees for order up to 50 ticktes. $10 for orders exceeding 50 tickets.
				</li>
				<li>
					Non-profit merchants are charged only a $10 commissing on the final sale. Other merchants are charged a 10-25% commission.
				</li>
			</ul>
		</div>

	</div>
	<h3 id="our_team">OUR TEAM</h3>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<%= image_tag "alisa.png" %>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h1 id="<span>alisa</span>_melekhina"><span>Alisa</span>&nbsp;Melekhina</h1>
			<h2 id="">CEO & Founder</h2>
			<p>
				Alisa is a recent graduate of the University of Pennsylvania who will begin practicing at a corporate lar firm in NYC in the fall in the field of intellectual property litigation. She has a certificate from the Wharton School in Business Economics & Public Policy. She is an international chess master, as well as a classically trained ballerina. At Penn, she was the President of three different on-campus groups, which inspired the concept fof GroupEt.      </p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<%= image_tag "ken.png" %>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h1 id="<span>alisa</span>_melekhina"><span>Ken</span>&nbsp;Lu</h1>
			<h2 id="">CTO</h2>
			<p>
				Ken has ten years of extensive experience in web development, with a particular expertise in Ruby on Rails. He previously served as a Senior computer engineer at Bloomberg LP.
			</p>
		</div>
	</div>
	
</div>