<%= simple_form_for([:mine, @ticket]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :category %>
    <%= f.input :name %>
    <%= f.input :desc %>
    <%= f.input :start_at, as: :string, input_html: { class: 'datetimepicker' } %>
    <%= f.input :end_at, as: :string, input_html: { class: 'datetimepicker' } %>
    <%= f.input :oprice %>
    <%= f.input :amount %>
    <%= f.input :image_url, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
