<%= simple_form_for([:mine, @ticket], html: {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :city, collection: Ticket::CITIES %>
    <%= f.association :category %>
    <%= f.input :name %>
    <%= f.input :desc %>
    <%= f.input :start_at, as: :string, input_html: { class: 'datetimepicker' } %>
    <%= f.input :end_at, as: :string, input_html: { class: 'datetimepicker' } %>
    <%= f.input :oprice %>
    <%= f.input :student_discount %>
    <%= f.input :amount %>
    <%= f.input :image_url, as: :file %>
    <%= f.input :sitting_map, as: :file %>
    <%= f.input :shipping %>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
