<%= simple_form_for([:mine, @ticket], html: {class: 'form-horizontal', onkeypress:'return event.keyCode != 13;'}, wrapper: :clean) do |f| %>
  <%= f.input_field :city, collection: Ticket::CITIES, prompt: 'Please Select a City...' %>
  <%= f.association :category, prompt: 'Please Select a Genre...', label: false %>
  <%= f.input_field :name, placeholder: 'Title' %>
  <%= f.input_field :desc, placeholder: 'Discription:' %>
  <p> &nbsp;&nbsp;<small>(3000 characters max.)</small> </p>

  <div class=row>
    <div class='col-xs-6'>
      <%= f.input_field :start_at, as: :string, placeholder: 'Start Time', id: 'datetimepicker' %>
    </div>
    <div class='col-xs-6'>
      <%= f.input_field :end_at, as: :string, placeholder: 'End Time', id: 'datetimepicker' %>
    </div>
  </div>

  <%= f.input_field :amount, as: :integer, placeholder: 'Total quantity of tickets', input_html: { placeholder: 'box supports up to 6 digits of entry' } %>
  <%= f.input_field :minimum_amount, as: :string, placeholder: 'Minimum tickets for purchase:' %>
  <%= f.input_field :oprice, value: "Original price per ticket:" %>

  <div id='discount' class='row'>
    <div class='container'>
      <div class='col-xs-3' id='additional_discount'>
        <span><input type='checkbox' id='has-student-discount'/></span>
        <span> Additional Discount for Students?</span>
      </div>
      <div class='col-xs-2' id='student-discount'>
        <%= f.input_field :student_discount, as: :string, disabled: true, value: '%' %>
      </div>
    </div>
  </div>

  <div class='row'>
		<div class='col-xs-2' style='padding-top:15px;'>
			<span>&nbsp;&nbsp;Shipping Fee</span>
		</div>
		<div class='col-xs-2' id='shipping-fee'>
			<%= f.input_field :shipping ,value: "00.00"%>
		</div>
  </div>

  <div class='row'>
    <div class='col-xs-3'>
      <input type='checkbox' id='free-shipping' />
      <label>Free Shipping</label>
    </div>
    <div class='col-xs-9'>
      <input id="ticket_will_call" name="ticket[will_call]" type="checkbox" />
      <label>Free Will Call Pick-up</label>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-8' style='padding-top:10px;'>&nbsp;&nbsp;Performace image(max 5 MB.This will appear in search results.)</div>
    <div class="col-xs-4">
      <%= f.input_field :image, as: :file %>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-8' style='padding-top:10px;'>&nbsp;&nbsp;Seating Level</div>
    <div class="col-xs-4">
      <%= f.input_field :sitting_map, as: :file %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <%= f.button :submit, 'UPLOAD TICKET LISTING' %>
    </div>
  </div>
<% end %>
