<%= simple_form_for([:mine, @ticket], html: {class: 'form-horizontal'}, bootstrap: false) do |f| %>
  <%= f.error_notification %>
  <%= f.input_field :city, collection: Ticket::CITIES, prompt: 'Please Select a City...' %>
  <%= f.association :category, prompt: 'Please Select a Genre...', label: false %>
  <%= f.input_field :name, placeholder: 'Title' %>
  <%= f.input_field :desc, placeholder: 'Discription 3000 characters max.' %>
  <%= f.input_field :start_at, as: :string, placeholder: 'Date', input_html: { class: 'datetimepicker' } %>
  <%= f.input_field :amount, as: :integer, placeholder: 'Total quantity of tickets', input_html: { placeholder: 'box supports up to 6 digits of entry' } %>
	<div class='row frame'>
		<div class='col-xs-4'>Minimum tickets for purchase:</div>
		<div class='col-xs-8 left'>
	    <%= f.input_field :minimum_amount, as: :string %>
		</div>
	</div>
	<%= f.input_field :oprice_in_cents, placeholder: "Original price per ticket:" %>
	<%= f.input_field :flat_discount, placeholder: "Flat Discount Ticket:" %>
	<%= f.input_field :flat_price_in_cents, placeholder: "Flat Price per Ticket:" %>
  <div id='discount' class='row'>
		<div class='container'>
			<div class='col-xs-6' id='additional_discount'>
		    <span><input type='checkbox'/></span>
		    <span> Additional Discount for Students?</span>
			</div>
			<div class='col-xs-2' id='student-discount'>
			  <%= f.input_field :student_discount, as: :string %>
		  </div>
		</div>
	</div>
  <%= image_tag @ticket.image_url.thumb %>
  <%= f.input_field :image_url, as: :file %>
  <%= image_tag @ticket.sitting_map.thumb %>
  <%= f.input_field :sitting_map, as: :file %>
  <%= f.input_field :shipping %>
	<%= f.button :submit, 'UPLOAD TICKET LISTING' %>

<% end %>
