<%= simple_form_for([:mine, @ticket], html: {class: 'form-horizontal', onkeypress:'return event.keyCode != 13;'}, wrapper: :clean) do |f| %>
  <%= f.input_field :city, collection: Ticket::CITIES, prompt: 'Please Select a City...' %>
  <%= f.association :category, prompt: 'Please Select a Genre...', label: false %>
  <%= f.input :name, placeholder: 'Title', label: false %>
  <%= f.input_field :desc, placeholder: 'Discription:' %>
  <p> &nbsp;&nbsp;<small>(3000 characters max.)</small> </p>

  <div class=row>
    <div class='col-xs-6'>
      <%= f.input_field :start_at, as: :string, placeholder: 'Start Time', id: 'datetimepicker', value: @ticket.start_at.try(:to_s) %>
    </div>
    <div class='col-xs-6'>
      <%= f.input_field :end_at, as: :string, placeholder: 'End Time', id: 'datetimepicker', value: @ticket.end_at.try(:to_s) %>
    </div>
  </div>

  <%= f.input :amount, as: :integer, label: false, placeholder: 'Total quantity of tickets' %>
  <%= f.input :minimum_amount, as: :string, label: false,  placeholder: 'Minimum tickets for purchase' %>

  <div class="input-group" style='margin-bottom: 10px;'>
    <span class="input-group-addon">$</span>
    <%= f.input_field :oprice, placeholder: "Original price per ticket", value: (@ticket.new_record? ? nil : @ticket.oprice) %>
  </div>

  <% if @ticket.new_record? %>
    <div class='row' id='price-tiers'>
      <input type="checkbox" id="show-flat-discount" />
      Set a flat discount here or set specific discounts for different ticket quantity tiers after upload
    </div>
    <script>
      $("#show-flat-discount").change(function(){
        $(".flat-discount").toggle();
        $("#ticket_flatten_discount").val("");
        $("#ticket_flatten_price").val("");
      })
    </script>
    <div class='row flat-discount' style="display: none;">
      <div class='col-xs-5'>
        <div class="input-group">
          <%= f.input_field :flatten_discount, as: :string, placeholder: "Flat Discount Ticket" %>
          <span class="input-group-addon">%</span>
        </div>
      </div>
      <div class='col-xs-2 center' style='padding-top:5px;'> or </div>
      <div class='col-xs-5'>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.input_field :flatten_price, as: :string, placeholder: "Flat Price per Ticket", value: format_price(@ticket.flatten_price) %>
        </div>
      </div>
    </div>
  <% elsif @ticket.is_flatten_price? %>
    <div class='row flat-discount'>
      <div class='col-xs-5'>
        <div class="input-group">
          <%= f.input_field :flatten_discount, as: :string, placeholder: "Flat Discount Ticket" %>
          <span class="input-group-addon">%</span>
        </div>
      </div>
      <div class='col-xs-2 center' style='padding-top:5px;'> or </div>
      <div class='col-xs-5'>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.input_field :flatten_price, as: :string, placeholder: "Flat Price per Ticket", value: format_price(@ticket.flatten_price) %>
        </div>
      </div>
    </div>
  <% end %>

  <div id='discount' class='row'>
    <div class='col-xs-3' id='additional_discount'>
      <span><input type='checkbox' id='has-student-discount'/></span>
      <span> Additional Discount for Students?</span>
    </div>
    <div class='col-xs-2 input-group' id='student-discount'>
      <%= f.input_field :student_discount, as: :string, disabled: true %>
      <span class="input-group-addon">%</span>
    </div>
  </div>

  <div class='row'>
		<div class='col-xs-2' style='padding-top:5px;'>
			<span>&nbsp;&nbsp;Shipping Fee</span>
		</div>
		<div class='col-xs-2 input-group' id='shipping-fee'>
      <span class="input-group-addon">$</span>
			<%= f.input_field :shipping, value: format_price(@ticket.shipping) %>
		</div>
  </div>

  <div class='row'>
    <div class='col-xs-3'>
      <input type='checkbox' id='free-shipping' />
      <label>Free Shipping</label>
    </div>
    <div class='col-xs-3'>
      <%= f.input :will_call, wrapper_html: { class: "choose" }, label: "Free Will Call Pick-up" %>
    </div>
    <div class="col-xs-3">
      <%= f.input :service_fee_waived, wrapper_html: { class: "choose" }, label: "service Fee Waived" %>
    </div>
  </div>
  
  <div class="row">
    <div class='col-xs-8'>
      &nbsp;&nbsp;Performace image(max 5 MB.This will appear in search results.)
      <%= image_tag(@ticket.image, height: '80') %>
    </div>
    <div class="col-xs-4" style='padding-top: 25px;'>
      <%= f.input_field :image, as: :file %>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-8'>
      &nbsp;&nbsp;Seating Level
      <%= image_tag(@ticket.sitting_map, height: '80') %>
    </div>
    <div class="col-xs-4" style='padding-top: 25px;'>
      <%= f.input_field :sitting_map, as: :file %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <%= f.button :submit, 'UPLOAD TICKET LISTING' %>
    </div>
  </div>
<% end %>
