<h1>Listing tickets</h1>

<%= table_for @tickets do |t| %>
  <%= t.cell(:name) {|t| link_to t.name, [:mine, t] } %>
  <%= t.cell :desc %>
  <%= t.cell :oprice %>
  <%= t.cell :amount %>
  <%= t.cell(:start_at) {|t| render_date t.start_at } %>
  <%= t.cell(:end_at){|t| render_date t.end_at } %>
  <%= t.cell :action do |t| %>
    <%= link_to 'Add Group Price', new_mine_ticket_group_price_path(t) %>
    <%= link_to 'Edit', [:edit, :mine, t] %>
    <%= link_to 'Destroy', [:mine, t], method: :delete, data: { confirm: 'Are you sure destroy this ticket?' } %>
  <% end %>
<% end %>

<%= link_to 'New Ticket', new_mine_ticket_path %>
