<div class='main clearfix purple-back row'>
  <h3 class='center'><%= @ticket.name %></h3>
  <div class='img-section col-lg-5'>
    <%= image_tag @ticket.image, class: 'ticket-image' %>
    <%= image_tag @ticket.sitting_map, class: 'ticket-image' %>
  </div>
  <div class='info-section col-lg-7'>
    <div class='info desc'>
      <div class='title'>City:</div>
      <div class='value'><%= @ticket.city %></div>
    </div>
    <div class='info desc'>
      <div class='title'>Category:</div>
      <div class='value'><%= @ticket.category_name %></div>
    </div>
    <div class='info desc'>
      <div class='title'>Desc:</div>
      <div class='value'><%= @ticket.desc %></div>
    </div>
    <div class='time info'>
      <div class='title'>Time:</div>
      <div class='value'><%= raw @ticket.time_range(:start) %></div>
    </div>
    <div class='info'>
      <div class='title'>Quantity:</div>
      <div class='value'><%= @ticket.amount %></div>
    </div>
    <div class='oprice info'>
      <div class='title'>Original Price:</div>
      <div class='value'><%= @ticket.oprice_to_currency %></div>
    </div>
    <div class='oprice info'>
      <div class='title'>Student discount:</div>
      <div class='value'><%= @ticket.student_discount %></div>
    </div>
    <div class='oprice info'>
      <div class='title'>Shipping Fee:</div>
      <div class='value'><%= @ticket.shipping_to_currency %></div>
    </div>
    <div class='oprice info'>
      <div class='title'>Will Call:</div>
      <div class='value'><%= @ticket.will_call %></div>
    </div>
    <div class='group-price info'>
      <div class='title'>Group Price:</div>
      <div class='value'>
        <%= link_to 'Add Group Price', new_mine_ticket_group_price_path(@ticket) %>
        <% @ticket.try(:ranked_group_prices).try(:each) do |gp| %>
          <p id='group-price-<%= gp.id %>'>
          <%= render_group_price gp %>  <%= link_to 'delete', [:mine, @ticket, gp], remote: true, method: 'DELETE' %>
          </p>
        <% end -%>
      </div>
    </div>
    <div class="info">
      <%= link_to 'Edit', edit_mine_ticket_path(@ticket), class: "btn btn-primary" %>
      <%= link_to 'Back', mine_tickets_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
