<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @ticket.desc %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @ticket.start_at.to_s(:db) %>
</p>

<p>
  <strong>End at:</strong>
  <%= @ticket.end_at.to_s(:db) %>
</p>

<p>
  <strong>Oprice:</strong>
  <%= @ticket.oprice %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @ticket.amount%>
</p>

<p>
  <strong>Group Prices:</strong>
  <%= link_to 'Add Group Price', new_mine_ticket_group_price_path(@ticket) %>
  <% @ticket.ranked_group_prices.each do |gp| %>
    <p id='group-price-<%= gp.id %>'><%= gp.display_price %>  <%= link_to 'delete', [:mine, @ticket, gp], remote: true, method: 'DELETE' %></p>
  <% end -%>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag @ticket.image_url %>
</p>

<%= link_to 'Edit', edit_mine_ticket_path(@ticket) %> |
<%= link_to 'Back', mine_tickets_path %>
