<% content_for :social_share do %> 
  <meta property="fb:app_id" content="<%= Rails.application.secrets.facebook["api_key"] %>" />
  <meta property="og:type" content="website" /> 
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:title" content="<%= @ticket.name %>" />
  <meta property="og:description" content="<%= @ticket.desc %>" /> 
  <meta property="og:image" content="<%= request.protocol + request.host_with_port + @ticket.image.middle.to_s %>" /> 
<% end %>

<div class="row" id="show-ticket">
  <div class="col-xs-12 col-sm-3">
    <%= render 'home/sidebar' %>
  </div>
  <div class="col-xs-12 col-sm-9">
    <div class="row">
      <h1 class="text-center">
        <%= @ticket.name  %>
        <%= render "vote"%>
      </h1>
      <div class="col-xs-12 col-sm-6 ">
        <%= image_tag @ticket.image.middle %>
        <%= image_tag @ticket.sitting_map %>
        <p><h3 class="text-center"><%= @ticket.time_range(:start) %></h3>
          <%= link_to "About Venue>>",merchant_path(@ticket.user),class: "about-merchant-link btn btn-xs button"%>
          <!-- Share  Begin--> 
          <%= link_to "share to facebook", gen_ticket_share_url(@ticket), class: "btn btn-xs button" %>
          <!-- Share  End-->
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p class="category_name"><%= @ticket.category.try(:name) %></p>
        <p class="ticket_desc">
          <%= @ticket.desc %>
        </p>
        <p class="original_price">
          <span>
            Original price: <%= @ticket.oprice_to_currency %>
          </span>
          <span>&nbsp;Per Ticket</span>
        </p>
      <p>
      <span class="price_tier">Group Price Tiers:</span>
      <br/>
      <p>
        <% @ticket.group_prices.try(:each) do |gp| %>
          <p><span>
          <%= gp.count_range%> tickets: <span class="purple-back circle-angle"><%= gp.discount %>% off</span></span></p>
        <% end %>
      </p>
      </p>
      <p>
      <% if current_user.try(:is_student) %>
        <span class="light-purple">Student Discount:</span><%= @ticket.student_discount%>%
      <% end %>
      </p>
        <p>
        <span class="light-purple"> Total Quantity: </span>
        <span id="amount"><%= @ticket.amount %></span>
        </p>
        <p>
        <span class="light-purple">Minimum for Purchase: </span>
        <span id="amount"><%= @ticket.minimum_amount  %></span>
        </p>
        <%= simple_form_for @order, url: new_ticket_order_path(@ticket), method: :get do |f| %>
          <div class='row discount_text'>
            Price after discount
            <span class="purple-back circle-angle" id="flat-price">
              $<%= @flat_price || @ticket.flat_price(0, current_user.try(:is_student)) %>
            </span>
            <span>&nbsp;Per Ticket</span>
          </div>
        <div class="row">
          <div class="col-xs-6">
            <span class="light-purple">Quantity:</span>
          </div>
          <div class="col-xs-4">
            <%= f.input_field :count, placeholder: "Enter", class: "purple-back" %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <span class="light-purple">Total Price:</span>
          </div>
          <div class="col-xs-4">
            <label id="total-price" class="purple-back circle-angle">$00.00</label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <span class="light-purple">Booking Fee:</span>
          </div>
          <div class="col-xs-6">
            <label id="booking-fee" class="purple-back circle-angle">$5</label>             
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <%= f.button :submit, 'CHECK OUT', class: 'button', disabled: true, id: "check-out" %>
          </div>
        </div>
      <% end  %>

    </div>  
  </div>  
</div>
</div>
<script>
  var ticket_id = <%= @ticket.id %>
</script>
