<h3 class='center'>
  <%= @ticket.name %>
  <a id='favourite' href="<%= like_ticket_path(@ticket) %>" data-voted="<%= liked?(@ticket) %>">
    <span class="glyphicon <%= liked?(@ticket) ? 'glyphicon-heart' : 'glyphicon-heart-empty' %>"></span>
  </a>
</h3>

<div class='main ticket clearfix'>
  <div class='img-section'>
    <%= image_tag @ticket.image_url, class: 'ticket-image' %>
  </div>
  <div class='info-section col-lg-6'>
    <div class='info desc'>
      <div class='title'>Category:</div>
      <div class='value'><%= @ticket.category_name %></div>
    </div>
    <div class='info desc'>
      <div class='title'>Desc:</div>
      <div class='value'><%= @ticket.desc %></div>
    </div>
    <div class='time info'>
      <div class='title'>Time:</div>
      <div class='value'><%= "#{@ticket.start_at.to_s(:db)}--#{@ticket.end_at.to_s(:db)}" %></div>
    </div>
    <div class='info'>
      <div class='title'>Quantity:</div>
      <div class='value'><%= @ticket.amount %></div>
    </div>
    <div class='oprice info'>
      <div class='title'>Origin Price:</div>
      <div class='value'><%= number_to_currency(@ticket.oprice) %></div>
    </div>
    <div class='group-price info'>
      <div class='title'>Group Price:</div>
      <div class='value'>
        <% @ticket.ranked_group_prices.each do |gp| %>
          <%= render_group_price gp %></br/>
        <% end -%>
      </div>
    </div>
    <div class='info'>
      <div class='title'>Student Discount:</div>
      <div class='value'>-<%= @ticket.student_discount %>%</div>
    </div>
    <div class='actions info'>
      <% if current_user %>
        <%= simple_form_for [@ticket, Order.new], html: { class: 'form-inline buy-ticket' } do |f| %>
          <div class='title'>Count</div>
          <div class='value'>
            <%= f.text_field "count", class: 'form-control' %>
            <%= f.submit "Buy It", class: 'btn btn-success' %>
          </div>
        <% end -%>
      <% else %>
        <div class='title'>&nbsp</div>
        <div class='value'>
          <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary' %>
        </div>
      <% end -%>
    </div>
  </div>
</div>


<hr/>
<h3>Popular Ticket</h3>
<div class='popular'>
  <%= render partial: 'home/popular' %>
</div>
