<div class='row'>
  <div class='col-md-4'>Name:</div>
  <div class='col-md-8'><%= current_user.name %></div>
</div>
<div class='row'>
  <div class='col-md-4'>Email:</div>
  <div class='col-md-8'><%= current_user.email %></div>
</div>
<div class='row'>
  <div class='col-md-4'>Phone:</div>
  <div class='col-md-8'><%= current_user.user_info.try(:phone) %></div>
</div>
<div class='row'>
  <div class='col-md-4'>Group Name:</div>
  <div class='col-md-8'><%= current_user.user_info.try(:group_name) %></div>
</div>
<div class='row'>
  <div class='col-md-4'>Number of Group members:</div>
  <div class='col-md-8'><%= current_user.user_info.try(:number_of_group_members) %></div>
</div>
<div class='row'>
  <div class='col-md-4'>University:</div>
  <div class='col-md-8'><%= current_user.user_info.try(:University) %></div>
</div>
<div class='row'>
  <div class='col-md-4'>Address:</div>
  <div class='col-md-8'><%= current_user.user_info.try(:address) %></div>
</div>
<div class='row'>
  <div class='col-md-4'>Billing Address:</div>
  <div class='col-md-8'><%= current_user.user_info.try(:billing_address) %></div>
</div>
<div class='row'>
  <div class='col-md-4'>Wallet Url:</div>
  <div class='col-md-8'><%= current_user.user_info.try(:wallet_url) %></div>
</div>
<div class='row'>
  <div class='col-md-4'>Avatar:</div>
  <div class='col-md-8 logo'><%= image_tag current_user.avatar_url, size: '60x60' %></div>
</div>
