<div class="container" id='edit-profile'>
	<h1>Edit Profile</h1>
	<hr/>
	<%= simple_form_for current_user, url: mine_profile_path, method: :patch, wrapper: :clean do |f| %>
    <!---TODO error doesnot display complete--->
	  <%= f.error_notification %>

	  <div class="form-group">
	    <div class="col-xs-offset- col-xs-10">
				<% if current_user.merchant? %>
				  <%= render partial: 'merchant_profile_form', locals: {f: f} %>
        <% else %>
          <%= render partial: 'user_profile_form', locals: {f: f} %>
		    <% end %>
	      <%= f.button :submit, 'Update Your Profile' %>
	    </div>
	  </div>
	<% end -%>
	
</div>
<%= javascript_include_tag 'web/form_validate' %>
