<div class="container" id='edit-profile'>
	<h1>Edit Profile</h1>
	<hr/>
	<%= simple_form_for @user, url: mine_profile_path, method: :patch, wrapper: :clean do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
	    <%= f.input :email, disabled: true, input_html: { style: "color: #fffc00" }, required: true %>
	    <%= f.input :name, required: true %>
			
			<%= f.input :phone %>
			<%= f.input :group_name, wrapper_html: false %>
			<%= f.input :number_of_group_members %>
			<%= f.input :university %>
			<%= f.input :wallet_link %>
			<%= f.input :billing_address %>
			<% if @user.merchant?  %>
			  <%= f.input :address, required: true %>
			<% else %>
			<%= f.input :address %>
			<% end %>

      <% if @user.merchant? %>
        <%= f.simple_fields_for :merchant_info, @merchant_info do |form| %>
          <%= form.input :latitude %>
          <%= form.input :longitude %>
          <%= form.input :workday_opening_time %>
          <%= form.input :sat_opening_time %>
          <%= form.input :sun_opening_time %>
          <%= form.input :orgnization %>
          <%= form.association :category, required: true %>
          <%= form.input :url %>

          <%= form.input :sales_phone, required: true %>
          <%= form.input :sales_email, required: true %>

        <% end  -%>
      <% end %>
			<%= f.input :zipcode %>
			<%= f.input :avatar, as: :file %>
	  </div>

	  <div class="form-group">
	    <div class="col-xs-offset- col-xs-10">
	      <%= f.button :submit, 'Update Your Profile' %>
	    </div>
	  </div>
	<% end -%>
	
</div>
<%= javascript_include_tag 'form_validate' %>