<div class='col-lg-8 center-block profile' style='float:none'>
  <div class='panel panel-info detail'>

    <div class="light-purple-back">
      Profile
      <span class='pull-right'>
        <%= link_to profile_url do %>
          <span class='yellow glyphicon glyphicon-eye-open'></span>
        <% end %>

        <%= link_to mine_edit_profile_path do %>
          <span class='yellow glyphicon glyphicon-edit'>
        <% end %>
      </span>
    </div>

    <div class="panel-body">
      <% if current_user.merchant? %>
        <%= render 'merchant_profile_table' %>
      <% else %>
        <%= render 'user_profile_table' %>
      <% end %>
    </div>
  </div>
</div>

<% if @favourite_tickets.present? -%>
  <h2 class='center'>My Favorite Tickets</h2>
  <table class="table table-hover">
    <tbody>
      <% @favourite_tickets.each do |ticket| %>
        <tr>
          <td><%= link_to ticket.name, ticket %></td>
          <td><%= ticket.category.try(:name) %></td>
          <td><%= ticket.amount %></td>
          <td><%= number_to_currency ticket.oprice %></td>
          <td><%= ticket.start_at %></td>
          <td><%= link_to ticket.user.try(:name), merchant_path(id: ticket.user_id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>
