<div class='col-lg-8 center-block profile' style='float:none'>
  <div class='panel panel-info detail'>

    <div class="panel-heading">
      Profile
      <span class='pull-right'>
        <%= link_to "Edit", mine_edit_profile_path  %>
      </span>
    </div>

    <div class="panel-body">
      <div class='row'>
        <div class='col-md-2'>Name:</div>
        <div class='col-md-10'><%= current_user.name %></div>
      </div>
      <div class='row'>
        <div class='col-md-2'>Email:</div>
        <div class='col-md-10'><%= current_user.email %></div>
      </div>
      <div class='row'>
        <div class='col-md-2'>Zipcode:</div>
        <div class='col-md-10'><%= current_user.zipcode %></div>
      </div>

      <% if current_user.merchant? %>
        <div class='row'>
          <div class='col-md-2'>Genre:</div>
          <div class='col-md-10'><%= current_user.genre%></div>
        </div>
        <div class='row'>
          <div class='col-md-2'>Phone:</div>
          <div class='col-md-10'><%= current_user.phone %></div>
        </div>
        <div class='row'>
          <div class='col-md-2'>Address:</div>
          <div class='col-md-10'><%= current_user.address %></div>
        </div>
      <% end %>
      <div class='row'>
        <div class='col-md-2'>Avatar:</div>
        <div class='col-md-10 logo'><%= image_tag current_user.avatar_url, size: '60x60' %></div>
      </div>
    </div>
  </div>
</div>

<% if @favourite_tickets.present? -%>
  <h2 class='center'>My Favourite Tickets</h2>
  <table class="table table-hover">
    <tbody>
      <% @favourite_tickets.each do |ticket| %>
        <tr>
          <td><%= link_to ticket.name, ticket %></td>
          <td><%= ticket.category.try(:name) %></td>
          <td><%= ticket.amount %></td>
          <td><%= number_to_currency ticket.oprice %></td>
          <td><%= ticket.start_at %></td>
          <td><%= ticket.end_at %></td>
          <td><%= link_to ticket.user.try(:name), merchant_path(id: ticket.user_id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>
