<div class='col-lg-8 center-block' style='float:none'>
  <div class='panel panel-info detail'>

    <div class="panel-heading">
      Profile
      <span class='pull-right'>
        <%= link_to "Edit", mine_edit_profile_path  %>
      </span>
    </div>

    <div class="panel-body">
      <div class='row'>
        <div class='col-md-1 '>Name:</div>
        <div class='col-md-10'><%= current_user.name %></div>
      </div>
      <div class='row'>
        <div class='col-md-1 '>Email:</div>
        <div class='col-md-10'><%= current_user.email %></div>
      </div>

      <% if current_user.merchant? %>
        <div class='row'>
          <div class='col-md-1 '>Phone:</div>
          <div class='col-md-10'><%= current_user.phone %></div>
        </div>
        <div class='row'>
          <div class='col-md-1 '>Address:</div>
          <div class='col-md-10'><%= current_user.address %></div>
        </div>
      <% end %>
      <div class='row'>
        <div class='col-md-1 '>Avatar:</div>
        <div class='col-md-10'><%= image_tag current_user.avatar_url %></div>
      </div>
    </div>
  </div>
</div>
