<% object.try(:each) do |ticket| %>
  <div class="col-xs-12 col-sm-6">
    <div class=row>
      <div class="col-xs-12 col-sm-6 thumbnail">
        <img src="<%= ticket.try(:image) %>" alt="<%= ticket.try(:name) %>">
      </div>
      <div class="col-xs-12 col-sm-6">
        <h4><%= link_to ticket.name, ticket %></h4>
        <h5 class='gray-light'><%= ticket.try(:category).try(:name) %></h5>
        <h5 class='gray-light'><%= ticket.start_at.try(:strftime, "%m/%d/%Y") %></h5>
        <h5 class='gray-light'>
          <%= ticket.start_at.try(:strftime, '%I:%M %p') %> 
        </h5>
        <h4 class='flat-discount yellow bold'><%= ticket.flat_discount %>% OFF</h4>
        <h5 class='purple'>Groups of <%= ticket.minimum_amount %>+</h5>
      </div>
    </div>
  </div>
<% end %>
