<div class='row' id='main'>
  <div class='col-xs-3'>
    <%= render 'home/sidebar' %>
  </div>
  <div class='col-xs-9'>
    <h2 class='text-center'>
			Merchant Profile
			<span class='glyphicon glyphicon-star purple'></span>
		</h2>
		
    <div class="row">
      <div class="col-xs-5 big_avatar">
        <%= image_tag @user.avatar_url %>
      </div>
      <div class="col-xs-7">
        <h5 class='address gray-light'><%= @user.merchant_info.try(:address) %></h5>
				<div id="google-map">
			
				</div>
				<div class="row">
					<div class="col-xs-4">
						<h6>Hours of Operation<span></h6>
					</div>
					<div class="col-xs-8">
						<hr style='height:5px'>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-6 purple">
						<label>Monday - Friday:</label>
					</div>
					<div class="col-xs-6 left">
						<label><%= @user.try(:merchant_info).workday_opening_time %></label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 purple">
						<label>Saturday:</label>
					</div>
					<div class="col-xs-6 left">
						<label><%= @user.merchant_info.try(:sat_opening_time) %></label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 purple">
						<label>Sunday:</label>
					</div>
					<div class="col-xs-6 left">
						<label><%= @user.merchant_info.try(:workday_opening_time) %></label>
					</div>
				</div>
				<h4>Group Sales Phone</h4>
				<h5 class='purple'><b><%= @user.merchant_info.try(:phone) %></b></h5>
				<h5 class='email'><%= @user.email %></h5>
      </div>
    </div>
    <hr>
    
    <h3 class='upcoming-deals purple'>Upcoming Deals</h3>
    <div class="row" id="deals">
      <%= render 'tickets', object: @top_tickets %>
    </div>
    
		<div >
			
		</div>
	</div>
</div>
<%= render 'shared/google_maps' %>