<!DOCTYPE html>
<html>
  <head>
    <title>GroupEt</title>
    <%= content_for :social_share %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'layouts/header' %>
    <div id="wrap">
      <%= render 'layouts/change_city' %>
      <%= render 'layouts/flash_messages' %>
      <%= render 'home/topbar' %>
      <div class='container' id='body-container'>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>

  </body>
</html>
